<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WebGL Audio 3D Selfie</title>
        <link href="/style/index.css" type="text/css" rel="stylesheet" />
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <div id="section_upload">
            <div id="block_upload">
                <input type="file" id="btn_upload" accept="image/*" />
            </div>
            <div id="block_validator" style="display:none;">
                <canvas id="img_canvas" height="500" width="500"></canvas>
                <canvas id="tmp_canvas" height="500" width="500" style="display:none;"></canvas>
                <canvas id="clip_canvas" height="500" width="500" style="display:none;"></canvas>
                <canvas id="final_canvas" height="300" width="200" style="display:none;"></canvas>
                <button id="btn_zoom_in">Zoom In</button>
                <button id="btn_zoom_out">Zoom Out</button>
                <button id="btn_validate">Validate</button>
                <img id="output" />
            </div>
        </div>
        <div id="section_3d" style="display:none;">
            <audio id="audioElement" src="/audio/MoonTrance.mp3" preload="auto" loop></audio>
            <div class="controlContainer">
                <button id="btn_play">Play the Audio</button>
                <button id="btn_pause" disabled="true">Pause the Audio</button>
                <button id="btn_volume_plus">Increase Volume</button>
                <button id="btn_volume_minus">Decrease Volume</button>
            </div>
            <div id="container" calss="webglContainer"></div>
        </div>
        <script type="text/javascript" src="/javascript/lib/three.min.js"></script>
        <script type="text/javascript" src="/javascript/lib/OrbitControls.js"></script>
        <script type="text/javascript" src="/javascript/lib/OBJLoader.js"></script>
        <script type="text/javascript" src="/javascript/lib/RequestAnimationFrame.js"></script>
	    <script type="text/javascript" src="/javascript/lib/Detector.js"></script>
        <script type="text/javascript" src="/javascript/lib/ImprovedNoise.js"></script>
        <script type="text/javascript" src="/javascript/upload.js"></script>
    </body>
</html>
